services:
    # Change 'frontend-v1' to 'frontend-v2' below when switching versions
    frontend:
        build: ./frontend-v2
        volumes:
          - ./frontend-v2:/app
          - /app/node_modules
        ports:
          - "5173:5173"
        depends_on:
          - backend

    backend: 
        build: ./backend
        volumes: 
          - ./backend:/app
        ports:
          - "8000:8000"
        command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
        depends_on: 
          - db
          
    db:
        image: postgres:17.5
        restart: always
        env_file:
          - ./postgres.env
        volumes:
          - pgdata:/var/lib/postgresql/data 
    
    adminer:
        image: adminer
        restart: always
        ports:
          - 8080:8080

volumes:
  pgdata: