# Database
DATABASE_URL=postgresql://recipe_user:recipe_password@db:5432/recipe_db

# JWT Authentication
# generate a random secret key
# wsl python3 -c 'import secrets; print(secrets.token_hex(32))'
SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS (JSON array format)
CORS_ORIGINS_LIST=["http://localhost:5173"]

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# OpenRouter AI
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=meta-llama/llama-3.3-70b-instruct

# Debug (optional)
# DEBUG=True
