POSTGRES_USER=exampleUser
POSTGRES_PASSWORD=examplePassword
POSTGRES_DB=ExampleDBName

SECRET_KEY=example_key
ACCESS_TOKEN_EXPIRE_MINUTES=30

DATABASE_URL=postgresql://exampleUser:examplePassword@db:5432/ExampleDBName

// generate a random secret key
// wsl python3 -c 'import secrets; print(secrets.token_hex(32))'